name: CI-MLFlow-Retrain

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install Dependencies
      run: |
        pip install mlflow==2.14.1 scikit-learn pandas

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . -e main

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: retrained-model
        path: MLProject/mlruns/

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build MLflow Docker Image
      run: |
        cd MLProject
        mlflow models build-docker -m mlruns/0/*/artifacts/model -n metaverse_model:latest

    - name: Push Docker Image
      run: |
        docker tag metaverse_model:latest ${{ secrets.DOCKER_USERNAME }}/metaverse_model:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/metaverse_model:latest
